User#show

<ul>
    <li>id: <%= user.id %></li>
    <li>email: <%= user.email %></li>
    <li>username: <%= user.username %></li>
    <li>displayName: <%= user.displayName %></li>
    <li>profileUrl: <%= user.profileUrl %></li>
    <li>gender: <%= user.gender %></li>
    <li>isOnline: <%= user.isOnline %></li>
    <li>Вы <% if (!user.isAdmin) { %>не<% } %> администратор</li>
    <li>createdAt: <%= user.createdAt %></li>
    <li>updatedAt: <%= user.updatedAt %></li>
</ul>

<a href="/user/<%= user.id %>/edit">Редактировать</a>
<br/>
<a href="/logout/">Выйти</a>
