<div class="product-card">
    <div class="product-card__header"><%= product.header %></div>
    <div class="product-card__columns">

        <div class="product-card__column product-card__column_position_left">
            Обложка: <img class="image product-card__image" src="<%= '/uploads/' + product.image + '?w=370' %>"
                          alt="<%= product.header %>"/>
        </div>

        <div class="product-card__column product-card__column_position_center">

            <div class="product-card__theme">
                <span class="product-card__property-header">Тема: </span>
            <span class="product-card__property-content">
              <%= product.theme %>
            </span>
            </div>

            <div class="product-card__annotation">
                <span class="product-card__property-header">Аннотация: </span>
            <span class="product-card__property-content">
              <%= product.annotation %>
            </span>
            </div>

            <div class="product-card__content">
                <span class="product-card__property-header">Содержание: </span>
            <span class="product-card__property-content">
              <%= product.content %>
            </span>
            </div>

            <div class="product-card__isbn">
                <span class="product-card__property-header">ISBN: </span>
            <span class="product-card__property-content">
              <%= product.isbn %>
            </span>
            </div>
            <div class="price product-card__price">
                <span class="price__value">Цена: <%= product.price %></span>
                <span class="price__currency"> p.</span>
            </div>
            <button class="button button_type_buy button__control product-card__buy i-bem"
                    data-bem="{&quot;button&quot;:{}}" role="button">Купить
            </button>
        </div>
        <div class="product-card__column product-card__column_position_right">
            <div class="product-card__balance">Баланс: <%= product.balance %></div>
        </div>
    </div>

    <a class="product-card__edit" href="/product/<%= product.id %>/edit">Редактировать</a>

</div><!-- /product-card -->
